
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-4">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
            <div class="col-sm-8">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item">
                        <p-dropdown [options]="userList" [(ngModel)]="form.uid" optionLabel="full_name" optionValue="id" [filter]="true" filterBy="name" [showClear]="true" placeholder="Select a User" (onChange)="loadData()" [style]="{'width':'276px'}">
                            <ng-template let-group pTemplate="group">
                                <div class="flex align-items-center">
                                    <span>{{group | json}}</span>
                                </div>
                            </ng-template>
                        </p-dropdown>
                    </li>
                    <li class="breadcrumb-item">
                        <p-calendar [(ngModel)]="form.rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range" [inputStyle]="{'width':'276px'}" (onSelect)="loadData()"></p-calendar>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{data.users}}</h3>
                        <p>Channels</p>
                    </div>
                    <div class="icon">
                        <!-- <i class="ion ion-user"></i> -->
                    </div>
                    <a href="#" class="small-box-footer"
                        >More info <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>{{data.application}}</h3>
                        <p>Applications</p>
                    </div>
                    <div class="icon">
                        <!-- <i class="ion ion-user"></i> -->
                    </div>
                    <a href="#" class="small-box-footer"
                        >More info <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{data.sanctioned}}</h3>

                        <p>Sanction</p>
                    </div>
                    <div class="icon">
                        <!-- <i class="ion ion-stats-bars"></i> -->
                    </div>
                    <a href="#" class="small-box-footer"
                        >More info <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
            <div class="col-lg-3 col-6">
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>{{data.disbursed}}</h3>

                        <p>Disbursement</p>
                    </div>
                    <div class="icon">
                        <!-- <i class="ion ion-stats-bars"></i> -->
                    </div>
                    <a href="#" class="small-box-footer"
                        >More info <i class="fas fa-arrow-circle-right"></i
                    ></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <p-chart type="bar" *ngIf="multiAxisData.datasets.length>0" [(data)]="multiAxisData" [options]="multiAxisOptions"></p-chart>
                </div>
            </div>
        </div>
    </div>
</section>
